---
hibernate:
    cache:
        queries: false
        use_second_level_cache: true
        use_query_cache: false
        region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

dataSource:
    pooled: true
    jmxExport: true
    driverClassName: org.h2.Driver
    username: sa
    password:

environments:
    development:
        dataSource:
            logSql: true
            dbCreate: create-drop
            url: jdbc:h2:mem:devDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    production:
        dataSource:
            dbCreate: update
            url: jdbc:h2:./prodDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

---
---
grails:
    profile: web
    codegen:
        defaultPackage: okky
    spring:
        transactionManagement:
            proxies: false

info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    groovy:
        template:
            check-template-location: false
# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: false
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
endpoints:
    jmx:
        unique-names: true

recaptcha:
    publicKey: "6Lf6sgITAAAAAAdxqNe-5zjdxJyXP8TkSuDhWmsC"
    privateKey: "6Lf6sgITAAAAAHkTEMQaS-smRk42JYu43SuJi1mS"
    includeScript: true
    includeNoScript: true

---

environments:
    development:
        baseURL: "http://localhost:8080/okky"
        logging:
            jul:
                usebridge: true
        recaptcha:
            enabled: false
        grails:
            mail:
                #disabled: true
                host: 'smtp.gmail.com'
                port: 465
                username: 'memi.dev@gmail.com'
                password: '!rlaals13728M'
                poolSize: 50
                default:
                    from: 'memi.dev@Gmail.com'
                key: 'key'
        plugin:
            springsecurity:
                debug:
                    useFilter: true
                oauth2:
                    providers:
                        facebook:
                            api_key: '892426937476416'
                            api_secret: '3a607e0138aa2251156702c5234f31d7'
                            successUri: "/oauth/facebook/success"
                            failureUri: "/oauth/facebook/failure"
                            callback: "${baseURL}/oauth/facebook/callback"
                            scope: 'email,publish_stream,offline_access'
                        google:
                            api_key: '937987783004-1a2ae8nl90502og2sucupolh5g82el7e.apps.googleusercontent.com'
                            api_secret: 'Q1MtT5Mf-4RYkqm8Swbb0VOE'
                            successUri: "/oauth/google/success"
                            failureUri: "/oauth/google/failure"
                            callback: "${baseURL}/oauth/google/callback"
                            scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'

    production:
        baseURL: grails.serverURL
        recaptcha:
            enabled: true
        plugin:
            springsecurity:
                oauth2:
                    providers:
                        facebook:
                            api_key: ''
                            api_secret: ''
                            successUri: "/oauth/facebook/success"
                            failureUri: "/oauth/facebook/failure"
                            callback: "${baseURL}/oauth/facebook/callback"
                            scope: 'email,publish_stream,offline_access'
                        google:
                            api_key: ''
                            api_secret: ''
                            successUri: "/oauth/google/success"
                            failureUri: "/oauth/google/failure"
                            callback: "${baseURL}/oauth/google/callback"
                            scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'

---
#grails:
#    plugin:
#        springsecurity:
#            oauth2:
#                providers:
#                    facebook:
#                        api_key: '892426937476416'
#                        api_secret: '3a607e0138aa2251156702c5234f31d7'
#                        successUri: "/oauth/facebook/success"
#                        failureUri: "/oauth/facebook/failure"
#                        callback: "${baseURL}/oauth/facebook/callback"
#                        scope: 'email,publish_stream,offline_access'
#                    google:
#                        api_key: '937987783004-1a2ae8nl90502og2sucupolh5g82el7e.apps.googleusercontent.com'
#                        api_secret: 'Q1MtT5Mf-4RYkqm8Swbb0VOE'
#                        successUri: "/oauth/google/success"
#                        failureUri: "/oauth/google/failure"
#                        callback: "${baseURL}/oauth/google/callback"
#                        scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'